// ============================================
// Fichier : _base.scss
// ============================================

@import 'variables'; // Important : avoir accès aux variables

* {
    font-family: $font-default;
}

html {
    user-select: none;
    transition: scale 2s linear;
    //transform: scaleX(-1);
}

//body
.desktop-body {
    background-image: $main-bg;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-body-bg;
    overflow: hidden;
}

span {
    font-family: $font-tahoma;
    font-size: $font-size-span;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

main {
    position: relative;
    height: calc(100vh - #{$main-height-offset});
}

.intro-page {
    position: absolute;
    background-color: $color-black;
    color: $color-white;
    height: 100vh;
    width: 100vw;
    z-index: 999999999;

    transition: opacity 1s ease;
    pre {
        font-size: 25px;

        span {
            font-size: 25px;
            font: inherit;
            &:hover {
                cursor: pointer;
            }
        }
    }

    overflow-y: scroll;

    .intro-text {
        display: none;
    }

    .choice-base {
        display: block;
    }
}

footer {
    width: 100%;
    max-width: 100vw;
    height: $footer-height;
    //background: $footer-gradient;

    display: flex;
    justify-content: space-between;

    .footer-main-part {
        display: flex;

        background: $footer-gradient;
        width: 100%;

        border-right: 1px solid $footer-border-color;

        .taskbar {

            display: flex;
            align-items: end;
            padding: 0 5px;

            .taskbar-item {
                //display: flex;
                display: none;
                align-items: center;
                gap: 5px;

                padding: 0 10px;

                height: 85%;
                width: 160px;
                max-width: 160px;

                color: $color-white;
                font-family: $font-tahoma;

                background: #1E52B7;

                border: solid 1px #173E8B;
                border-left: solid 1px #091938;
                border-radius: 2px;

                //border: solid 1px red;
                &:hover {
                    cursor: pointer;
                }

                img {
                    height: 16px;
                }
            }
        }
    }

    .tools {
        display: flex;
        width: 71px;
        background: $footer-gradient2;
        justify-content: center;
        align-items: center;
        color: $color-white;
        border-left: 1px solid $footer2-border-color;
        //padding: 0 20px;
    }
}

.powerBtn {
    width: 106px;
    cursor: pointer;
}