@charset "UTF-8";
@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
* {
  font-family: sans-serif;
}

html {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: scale 2s linear;
}

.desktop-body {
  background-image: url("/assets/img/background-img/XpBackground-1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  overflow: hidden;
}

span {
  font-family: "Tahoma";
  font-size: 20px;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

main {
  position: relative;
  height: calc(100vh - 33px);
}

.intro-page {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  z-index: 999999999;
  transition: opacity 1s ease;
  overflow-y: scroll;
}
.intro-page pre {
  font-size: 25px;
}
.intro-page pre .ligne-terminal-timide {
  filter: opacity(0.3);
}
.intro-page pre span {
  font-size: 25px;
  font: inherit;
}
.intro-page pre span:hover:not(.ligne-terminal-timide) {
  cursor: pointer;
}
.intro-page .intro-text {
  display: none;
}
.intro-page .choice-base {
  display: block;
}

footer {
  width: 100%;
  max-width: 100vw;
  height: 33px;
  display: flex;
  justify-content: space-between;
}
footer .footer-main-part {
  display: flex;
  background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
  width: 100%;
  border-right: 1px solid #003dd7;
}
footer .footer-main-part .taskbar {
  display: flex;
  align-items: end;
  padding: 0 5px;
}
footer .footer-main-part .taskbar .taskbar-item {
  display: none;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  height: 85%;
  width: 160px;
  max-width: 160px;
  color: #ffffff;
  font-family: "Tahoma";
  background: #1E52B7;
  border: solid 1px #173E8B;
  border-left: solid 1px #091938;
  border-radius: 2px;
}
footer .footer-main-part .taskbar .taskbar-item:hover {
  cursor: pointer;
}
footer .footer-main-part .taskbar .taskbar-item img {
  height: 16px;
}
footer .tools {
  display: flex;
  width: 71px;
  background: linear-gradient(180deg, #66b3ff, #4f9eef 8%, #3a8ce9 40%, #0E8EE9 88%, #0E8EE9 93%, #2980ea 95%, #003dd7 96%, #003dd7);
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-left: 1px solid #17B6FD;
}

.powerBtn {
  width: 106px;
  cursor: pointer;
}

@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
.icon,
.iconF {
  position: absolute;
  width: 80px;
  min-height: 80px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  text-shadow: #000000 1.5px 1px;
}
.icon img,
.iconF img {
  height: 60px;
  width: 60px;
}
.icon span,
.iconF span {
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 100px;
  text-align: center;
  padding: 0 2px;
}
.icon:active,
.iconF:active {
  border: solid 1px rgba(95, 95, 95, 0.7254901961);
}
.icon:active span,
.iconF:active span {
  background-color: rgba(62, 142, 247, 0.5019607843) !important;
}

.iconF {
  margin: 0 15px;
}
.iconF span {
  color: #000000;
  text-shadow: none;
}
.iconF:active {
  border: none;
}

.folder-icon:active {
  cursor: grabbing;
}

@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
.title-bar {
  cursor: grab;
}
.title-bar:active {
  cursor: grabbing;
}
.title-bar .title-bar-controls button {
  cursor: pointer;
}

@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
.window {
  display: none;
  position: absolute !important;
  flex-direction: column;
  min-width: 600px;
  width: 600px;
  min-height: 350px;
  height: 400px;
  resize: both;
  overflow: hidden;
}

.title-bar-text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.title-bar-text img {
  height: 20px;
}
.title-bar-text span {
  font-family: sans-serif;
}

.unselected {
  position: relative;
}

.unselected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  /* Blanc semi-transparent */
  border-radius: 4px;
  /* Suivre la forme du dossier */
  pointer-events: none;
  /* Empêche le pseudo-élément d'interagir */
}

.txt {
  box-sizing: border-box;
}
.txt .txt-text-part {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 5px 10px;
  background-color: #ffffff;
}
.txt .liste-de-mot-wrap {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.txt .liste-de-mot-wrap div {
  padding-right: 10px;
}
.txt .liste-de-mot-wrap div h1 {
  margin-top: 15px;
}
.txt ol {
  margin: 10px 0 0 40px;
}
.txt ol li {
  font-size: 15px;
  margin-bottom: 10px;
}
.txt h1 {
  font-size: 24px;
}
.txt h2 {
  font-size: 20px;
}
.txt h3 {
  font-size: 18px;
}
.txt p {
  font-size: 16px;
}
.txt p i {
  font-style: italic;
}

.folder-text-part {
  display: flex;
  justify-content: start;
  flex-grow: 1;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding: 5px 10px;
  background-color: #ffffff;
}

.window-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  height: calc(100% - 28px) !important;
  width: 100%;
  margin: 0;
  padding: 0 3px;
}
.window-body .txt-window-body-head {
  border-bottom: solid 1px rgb(214, 211, 209);
  padding: 6px 0 5px 0;
}
.window-body .txt-window-body-head span {
  padding: 7px;
}
.window-body .txt-window-body-head span:hover {
  color: #ffffff;
  background-color: rgb(0, 94, 255);
}
.window-body .txt-window-body-head-address {
  border-top: solid 1px rgb(214, 211, 209);
  border-bottom: solid 1px rgb(214, 211, 209);
  height: 31px;
  display: flex;
  align-items: center;
}
.window-body .txt-window-body-head-address > * {
  height: 100%;
}
.window-body .txt-window-body-head-address span {
  padding: 0 6px;
  display: flex;
  align-items: center;
}
.window-body .txt-window-body-head-address .address-path {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
.window-body .txt-window-body-head-address img {
  height: 20px;
}
.window-body .folder-btn-body-head {
  display: flex;
}
.window-body .folder-btn-body-head img {
  height: 25px;
  width: 25px;
}
.window-body .folder-btn-body-head .pack {
  border-right: solid 1px rgb(214, 211, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-body .folder-btn-body-head .pack .lil-pack {
  border-radius: 5px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.window-body .folder-btn-body-head .pack .lil-pack:hover {
  background-color: rgb(248, 245, 227);
}
.window-body .folder-body-wrapper {
  display: flex;
  height: 100%;
}
.window-body .folder-body-wrapper .folder-system-files-part {
  background: linear-gradient(to bottom, #6d8cdf 0%, #a8befb 100%);
  min-width: 35%;
  height: 100%;
}
.window-body .folder-body-wrapper .folder-system-files-part .folder-system-files-items {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color: #0057d7;
  border-radius: 5px;
  padding: 5px 5px 2px 10px;
}
.window-body .folder-body-wrapper .folder-system-files-part .folder-system-files-items:nth-child(1) {
  margin: 20px 10px 0 10px;
}
.window-body .folder-body-wrapper .folder-system-files-part .folder-system-files-items:nth-child(2), .window-body .folder-body-wrapper .folder-system-files-part .folder-system-files-items:nth-child(3) {
  margin: 10px 10px 0 10px;
}
.window-body .folder-body-wrapper .folder-system-files-part .folder-system-files-items img {
  filter: grayscale(1) brightness(0) invert(1);
  height: 12px;
  width: 12px;
  border: solid 1px #ffffff;
  border-radius: 50px;
  padding: 2px;
}

.photo-body-wrapper {
  background-color: #ffffff;
  height: calc(100% - 5px);
  margin-top: 5px;
}
.photo-body-wrapper > * {
  margin: 0 10% 0 10%;
}
.photo-body-wrapper .photo-part {
  margin-top: 5px;
  height: 85%;
}
.photo-body-wrapper .photo-part img {
  width: 100%;
  height: 100%;
}
.photo-body-wrapper .photo-btn {
  height: calc(15% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.photo-body-wrapper .photo-btn svg {
  fill: rgb(0, 59, 218);
}
.photo-body-wrapper .photo-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.photo-body-wrapper .photo-btn .arrow svg {
  margin-top: -10px;
}

#lockForm {
  min-width: 400px;
  width: 400px;
  min-height: 160px;
  height: 160px;
  resize: none;
}
#lockForm .window-body {
  padding: 10px;
  display: flex;
}
#lockForm .window-body form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#lockForm .window-body form > * {
  width: 100%;
}
#lockForm .window-body form .formInput {
  text-align: start;
  height: 100%;
  display: flex;
  align-items: center;
}
#lockForm .window-body form .formInput div {
  height: 23px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#lockForm .window-body form .formInput input {
  width: 75%;
}
#lockForm .window-body form .formBtn {
  text-align: end;
}

@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
body.cat-mode-active,
body.cat-mode-active * {
  cursor: url("/assets/img/icones/cursor/cursorCatMouthClosed32.png"), auto !important;
}

body.cat-mode-active:active,
body.cat-mode-active:active * {
  cursor: url("/assets/img/icones/cursor/cursorCatMouthOpen32.png"), auto !important;
}

.toothless-gif {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}

.toothless-gif-animation {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000000000000000000000000000000000000000000000000000000;
  transform: translateX(-100%);
  animation-name: toothless;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes toothless {
  100% {
    transform: translateX(100vw);
  }
}
.party-exe {
  overflow: hidden;
  pointer-events: none;
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 999;
}
.party-exe > * {
  position: absolute;
}
.party-exe .background-color-changement {
  background-color: rgba(240, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
.party-exe .party-gif {
  display: none;
  z-index: 1000;
}
.party-exe .confettiesGif {
  width: 100%;
  height: 100%;
}
.party-exe .catDancingGif {
  display: block;
}
.party-exe .catDancing1 {
  transform: rotate(135deg);
  top: 0;
  left: 0;
}
.party-exe .catDancing2 {
  transform: rotate(-135deg);
  top: 0;
  right: 0;
}
.party-exe .catDancing3 {
  transform: rotate(45deg);
  bottom: 0;
  left: 0;
}
.party-exe .catDancing4 {
  transform: rotate(-45deg);
  bottom: 0;
  right: 0;
}

@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
.ppt {
  background-color: #BFDBFF !important;
}

.ppt-text-part {
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  background-color: #9DBCE5;
}

.window-body .ppt-window-body-head {
  border-bottom: solid 1px #647383;
  padding: 6px 5px 5px 5px;
  margin: 5px 0 0 0;
}
.window-body .ppt-window-body-head span {
  padding: 7px;
  border-radius: 10px 10px 0 0;
}
.window-body .ppt-window-body-head span:hover {
  background-color: #9DBCE5;
  border: solid 1px #647383;
  color: #ffffff;
  border-bottom: solid 1px #9DBCE5;
}
.window-body .ppt-body-wrapper {
  overflow: hidden;
  display: flex;
  height: 100%;
  gap: 10px;
}
.window-body .ppt-body-wrapper .ppt-overview-part {
  overflow-y: scroll;
  background-color: #9DBCE5;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.window-body .ppt-body-wrapper .ppt-overview-part .ppt-item {
  background-color: #ffffff;
  width: 80%;
  aspect-ratio: 1/1;
  box-shadow: 2px 2px 10px #000;
  margin-top: 20px;
}
.window-body .ppt-body-wrapper .ppt-overview-part .ppt-item:first-child {
  margin-top: 40px;
}
.window-body .ppt-body-wrapper .ppt-overview-part .ppt-item:last-child {
  margin-bottom: 40px;
}
.window-body .ppt-body-wrapper .ppt-text-part {
  overflow-y: scroll;
  background-color: #9DBCE5;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 80%;
  min-width: 90%;
  max-height: 80%;
  max-width: 90%;
  box-shadow: 2px 2px 10px #000;
  margin-top: 40px;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item:last-child {
  margin-bottom: 40px;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .ppt-line {
  width: 100%;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .ppt-line h1 {
  font-size: 40px;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .ppt-line h3 {
  font-size: 20px;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .img-line {
  height: 15%;
  text-align: end;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .img-line img {
  height: 100%;
  border-radius: 0 0 0 10px;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .title-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .centered-line {
  flex-grow: 1;
  margin-top: -15%;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .ppt-sommaire h1 {
  margin-left: 100px;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .ppt-sommaire div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.window-body .ppt-body-wrapper .ppt-text-part .ppt-item .ppt-sommaire ul li {
  font-size: 30px;
}

.ppt-btn-body-head {
  display: flex;
}
.ppt-btn-body-head img {
  height: 25px;
  width: 25px;
}
.ppt-btn-body-head .pack {
  border-right: solid 1px rgb(214, 211, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ppt-btn-body-head .pack .lil-pack {
  border-radius: 5px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ppt-btn-body-head .pack .lil-pack:hover {
  background-color: rgb(248, 245, 227);
}

@font-face {
  font-family: Tahoma;
  src: url(tahoma.ttf);
}
.acc-body {
  background-color: wheat !important;
}/*# sourceMappingURL=main.css.map */