@import 'variables.scss';

.home-container {
    //border: solid 1px red;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    //width: 50%;
    flex-grow: 1;
}

.cart-container {
    margin: 0 100px;
    //height: calc(100vh - (145px + 162px));
}

