@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import 'form.scss';
@import 'BackOff.scss';
@import 'variables.scss';
@import 'tab.scss';
@import 'home.scss';
@import 'card.scss';
@import 'userCardBO.scss';
@import 'charts.scss';
@import 'productsCard';
@import 'compte';

* {
    box-sizing: border-box;
}

* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: white black; /* Barre blanche sur fond noir */
}

*::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
  height: 8px; /* Hauteur de la scrollbar (pour les scrollbars horizontales) */
}

*::-webkit-scrollbar-track {
  background: black; /* Fond noir */
}

*::-webkit-scrollbar-thumb {
  background-color: white; /* Curseur blanc */
  border-radius: 10px; /* Bord arrondi */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9; /* Curseur légèrement plus clair au survol */
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-color: $black-color;
    color: $white-color;

    font-family: "Montserrat";
}

a {
    text-decoration: none;
    color: $white-color;
    transition: color 0.3s ease;
    &:hover {
        color: $secondary-color;
    }
}

// svg {
//     transition: fill 0.3s ease;
//     //color: $white-color;   
//     &:hover {
//         fill: $secondary-color;
//     }
// }

#header {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transition: fill 0.3s ease;
        //color: $white-color;   
        &:hover {
            fill: $secondary-color;
        }
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        margin: 30px;
        padding: 0 15px;

        border: solid 2px $white-color;
        border-radius: 50px 10px 0 0;

        &>* {
            padding: 15px;
        }

        ul {
            display: flex;
            gap: 100px;

            // font-size: 26px;
        }
    }
}

#main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - (145px + 162px)) !important;

    //border: solid 1px red;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: auto;

    .footer-bar-container {
        display: flex;
        justify-content: space-between;

        width: 100%;
        margin: 30px;
        padding: 0 180px;

        border: solid 2px $white-color;
        border-radius: 0 0 50px 10px;

        //tout les enfant
        &>* {
            padding: 30px 0 10px 0;
        }

        h1 {
            font-size: 1.5em;
        }

        .footer-link-wrapper {
            display: flex;
            gap: 200px;
            .footer-el {
                .title {
                    display: flex;
                    align-items: center;
                    padding: 1px;
                    gap: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    li {
                        margin-top: 20px;
                        &:first-child{
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}

.footer-el nav {
    display: none; /* Masque les menus par défaut */
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
}

.footer-el nav.open {
    display: block; /* Affiche le menu quand la classe 'open' est appliquée */
    max-height: 500px; /* Ajustez cette valeur en fonction de la taille du contenu */
}

.center {
    text-align: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: $black-color;
}